@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Urbanist;
    src: url('../../public//fonts/Urbanist-SemiBold.ttf');
    font-weight: 600;
}

*,h1,h2,h3,h4,h5,h6,p{
    font-family: Urbanist, sans-serif !important;
}
.Urbanist{
    font-family: Urbanist, sans-serif !important;
}
.subscribtion-form input{
    background: none;
}